body {
    background-color: rgb(239, 239, 199);
}


.top-bar {
    background-image: url(./Images/food.jpeg);
    padding: 150px;
}

.topnav {
   border-color: black;
   border: 50px;
    background-color: bisque;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: black;
    text-align: center;
}

