body {
    background-color: rgb(199, 239, 200);
}


.top-bar {
    background: bisque;
}
.top-bar-left {
    background: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
   font-weight: bold;
    
}
 .background-image {
    background-image: url(./Images/food.jpeg);
    height: 500px;
    width: 100%;
    background-size: cover;
}

.topnav {
   border-color: black;
    background-color: bisque;
    text-align: right;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.topnav a{
    color: black;
}

.title-is-1 {
    font-size: 1cm;
    text-align: center;
}

.titlenut {
    text-align: left;
}

#about {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(199, 239, 200);
    padding: 10%;
    margin: 10%;
    border: 10%;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: black;
    text-align: center;
    position: fixed;
}

.column {
    width: 30%;
    float: left;
}

.thing {
    height: 300px;
    width: 300px;
}

.center {
    text-align: center;
}

section {
    margin-top: 50px;
}


.menu-text {
    background-color: bisque;
}

.container {
    display:flex;
    width:90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border-radius: 50px;
    color: rgb(126, 21, 217);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
}
.view-btn{
    text-decoration:none;
    text-align: center;
    width:130px;
    padding: 10px 0;
    color:black;
    margin-top:20px;
    font-size: 15px;
    align-self : flex-start;
}


