body {
    background-color: rgb(199, 239, 200);
}


.top-bar {
    background-image: url(./Images/food.jpeg);
    padding: 150px;
    flex-wrap: wrap;
}

.topnav {
   border-color: black;
   border: 50px;
    background-color: bisque;
    color: black;
    text-align: right;
    font-size: larger;
    padding: 10px;
}

.title-is-1 {
    font-size: 1cm;
    text-align: center;
}

.titlenut {
    text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: black;
    text-align: center;
}


